.coin-container{
    display: flex;
    justify-content: center;
}

.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid;
    width: 1000px;
}

.coin{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

.coin h1{
    font-size: 16px;
    width: 150px;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol{
    text-transform: uppercase;
}

.coin-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coin-price{
    width: 110px
}

.coin-volume{
    width: 200px;
}

.coin-marketcap{
    width: 240px;
}

.coin-percent{
    width: 80px;
}

.red{
    color: #f00606;
}

.green{
    color: #11d811; 
}

@media screen and (min-width: 720px) and (max-width: 1024px){
    .coin-row{
        width: 700px;
        height: 75px;
    }
    .coin{
        min-width: 200px;
    }
    
    .coin h1{
        font-size: 14px;
        width: 100px;
    }

    .coin-symbol{
        font-size: 14px;
    }
    
    .coin img {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    
    .coin-data{
        width: 100%;
    }
    
    .coin-price{
        width: 100px
    }
    
    .coin-volume{
        width: 100px;
    }
    
    .coin-marketcap{
        width: 100px;
    }
    
    .coin-percent{
        width: 50px;
    }    
}

@media screen and (min-width: 480px) and (max-width: 720px) {
    #root {
        font-size: 12px;
    }
    .coin-row{
        width: 450px;
        height: 70px;
    }
    .coin{
        min-width: 125px;
    }
    
    .coin h1{
        width: 100px;
        font-size: 12px;
    }

    .coin img {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
    
    .coin-data{
        width: 80%;
    }
    
    .coin-price{
        width: 30px
    }
    
    .coin-volume{
        width: 30px;
    }
    
    .coin-marketcap{
        width: 30px;
    }
    
    .coin-percent{
        width: 25px;
    }    
}

@media screen and (max-width: 480px){
    #root {
        font-size: 11px;
    }
    .coin-row{
        width: 350px;
        height: 50px;
    }
    .coin{
        min-width: 125px;
        display: flex;
        align-items: center;
    }
    
    .coin h1{
        width: 100px;
        font-size: 11px;
    }

    .coin img {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
    
    .coin-data{
        width: 80%;
    }
    
    .coin-price{
        width: 30px
    }
    
    .coin-volume{
        width: 30px;
    }
    
    .coin-marketcap{
        width: 30px;
    }
    
    .coin-percent{
        width: 25px;
    } 
}